<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macrosan.mapper.WorkOrderMapper">
	<sql id="queryWhereName">
		from work_orders
		<where>
			<if test="orderName != null and orderName != ''">
				name like concat("%",#{orderName},"%")
			</if>
		</where>
	</sql>
	<select id="findObjects"
		resultType="com.macrosan.pojo.WorkOrder">
		select id,status,name,gdType,principalUser,createdTime,modifiedTime
		<include refid="queryWhereName" />
		order by id desc
		limit #{startIndex},#{pageSize}
	</select>
	<select id="getRowCount" resultType="int">
		select count(*)
		<include refid="queryWhereName" />
	</select>
	<delete id="deleteObjects">
		delete from work_orders
		<choose>
			<when test="ids!=null and ids.length>0">
				where id in
				<foreach collection="ids" item="id" open="(" close=")"
					separator=",">
					#{id}
				</foreach>
			</when>
			<otherwise>
				where 1=2
			</otherwise>
		</choose>
	</delete>
	<select id="findZTreeNodes" resultType="com.macrosan.pojo.Node">
		select id,username as name,superiorId as parentId from csms_users
	</select>
	<insert id="saveObject">
		insert into work_orders (id,status,name,gdType,principalUser,relatedProject,createdTime,modifiedTime)
		value
		(#{workOrder.id},#{workOrder.status},#{workOrder.name},#{workOrder.gdType},#{workOrder.principalUser},
		#{workOrder.relatedProject},#{workOrder.createdTime},#{workOrder.modifiedTime})
	</insert>
	<select id="findObjectById" resultType="com.macrosan.pojo.WorkOrder">
		select id,status,name,gdType,principalUser,relatedProject
		from work_orders
		where id=#{id}
	</select>
	<update id="updateObject">
		update work_orders set status=#{workOrder.status},name=#{workOrder.name},gdType=#{workOrder.gdType},principalUser=#{workOrder.principalUser},
		relatedProject=#{workOrder.relatedProject},createdTime=now()
		where id=#{workOrder.id}
	</update>
	<select id="findObjectByName" resultType="com.macrosan.pojo.WorkOrder">
		select id,status,name,gdType,principalUser,relatedProject,createdTime,modifiedTime
		<include refid="queryWhereName" />
		order by id desc
	</select>
</mapper>