<!-- Horizontal Form -->
 <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">修改项目</h3>
        <h3 class="msg"></h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form class="form-horizontal">
		<div class="box-body">
			<div class="form-group">
				<label for="projectName" class="col-sm-2 control-label">项目名称</label>
				<div class="col-sm-10">
					<input type="text" name="projectName" class="form-control"
						id="projectName">
				</div>
			</div>
			<div class="form-group">
				<label for="projectDept" class="col-sm-2 control-label">办事处</label>
				<div class="col-sm-10">
					<input type="text" name="projectDept" class="form-control"
						id="projectDept">
				</div>
			</div>
			<div class="form-group">
				<label for="status" class="col-sm-2 control-label">在保状态</label>
				<div class="col-sm-10">
					<select type="text" class="form-control col-lg-7"
						id="selectProStatus" name="status" placeholder="在保状态">
						<option id="zb">在保</option>
						<option id="gb">过保</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="status" class="col-sm-2 control-label">维护状态</label>
				<div class="col-sm-10">
					<select type="text" class="form-control col-lg-7"
						id="selectProWeihu" name="status" placeholder="维护状态">
						<option id="ywh">已维护</option>
						<option id="wwh">未维护</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="projectType" class="col-sm-2 control-label">项目类型</label>
				<div class="col-sm-10">
					<input type="text" name="projectType" class="form-control"
						id="projectType">
				</div>
			</div>
		</div>
		<!-- /.box-body -->
        <div class="box-footer">
          <button type="button" class="btn btn-default btn-cancel">取消</button>
          <button type="button" class="btn btn-info pull-right btn-save">保存</button>
        </div>
        <!-- /.box-footer -->
      </form>
  </div>
<script type="text/javascript" src="bower_components/ztree/jquery.ztree.all.min.js"></script>
<script type="text/javascript" src="bower_components/layer/layer.js"></script>
<script type="text/javascript">
	$(document).ready(
			function() {
				//页面加载完成以后加载项目信息并初始化页面
				doFindProjects();
				//事件注册
				$(".box-footer").on("click", ".btn-cancel", doCancel).on(
						"click", ".btn-save", doUpdateObject);
			});

	//查找关联项目
	function doFindProjects() {
		var url = "project/doFindProById";
		var id = $("#mainContentId").data("projectId");
		var params = {"id":id};
		$.get(url,params,function(result) {
			if (result.status == 200) {
				doInitFormData(result.data); 	//将找到的信息进行回显
			} else {
				alert(result.msg);
			}
		});
	}

	function doCancel() {
		$("#mainContentId").removeData("rowData");
		$("#mainContentId").load("project/project_list");
	}
	//更新函数
	function doUpdateObject() {
		var url = "project/doUpdateProject";
		//获取用户修改的参数
		var params = doGetEditFormData();
		$.post(url, params, function(result) {
			if (result.status == 200) {
				doCancel();
			} else {
				alert(result.msg);
			}
		});
	}
 	function doGetEditFormData() {
		//获取用户输入的数据
		var params = {
			id:$("#mainContentId").data("projectId"),
			name : $("#projectName").val(),
			serviceDept : $("#projectDept").val(),
			weibao : $(".form-horizontal #selectProStatus").val(),
			proWeihu : $(".form-horizontal #selectProWeihu").val(),
			proType : $("#projectType").val()
		}
		return params;
	}
	function doInitFormData(data) {
		//回显项目信息 
		$("#projectName").val(data.name);
		//设置办事处
		$("#projectDept").val(data.serviceDept);
		//设置维保状态
		(data.weibao == "在保")?$("#selectProStatus #zb").prop("selected","selected"):$("#selectProStatus #gb").prop("selected","selected");
		//设置维护状态
		(data.proWeihu == "已维护")?$("#selectProWeihu #ywh").prop("selected","selected"):$("#selectProWeihu #wwh").prop("selected","selected");
		$("#projectType").val(data.proType);
	}
</script>