<!-- Horizontal Form -->
 <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">添加工时</h3>
        <h3 class="msg"></h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form class="form-horizontal">
        <div class="box-body">
			<div class="form-group divWorkHourOrderId">
				<label for="workHourId" class="col-sm-2 control-label">工单编号</label>
				<div class="col-sm-10">
					<input type="text" name="workHourId" class="form-control" readonly="readonly"
						id="workHourId">
				</div>
			</div>
			<div class="form-group divWorkHourOrder">
				<label for="workHourOrder" class="col-sm-2 control-label">关联工单</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" readonly="readonly"
						id="workHourOrder" placeholder="选择工单" data-toggle="modal"
						data-target="#workHourModal">
				</div>
			</div>
			<div class="form-group divWorkHour">
				<label for="workHour" class="col-sm-2 control-label">工时(h)</label>
				<div class="col-sm-10">
					<input type="text" name="workHour" class="form-control"
						id="workHour">
				</div>
			</div>
			<div class="form-group divWorkOrderFZ">
				<label for="workOrderFZ" class="col-sm-2 control-label">责任人</label>
				<div class="col-sm-10">
					<input type="text" class="form-control load-csms-user"
						readonly="readonly" id="workOrderFZ" placeholder="责任人">
				</div>
			</div>
			<div class="form-group divWorkHourNote">
				<label for="workHourNote" class="col-sm-2 control-label">工时内容</label>
				<div class="col-sm-10">
					<textarea name="workHourNote" class="form-control"
						id="workHourNote" />
				</div>
			</div>
		</div>
        <!-- /.box-body -->
        <div class="box-footer">
          <button type="button" class="btn btn-default btn-cancel">取消</button>
          <button type="button" class="btn btn-info pull-right btn-save">保存</button>
        </div>
        <!-- /.box-footer -->
      </form>
     <!-- 模态框 -->
	<div class="modal fade" id="workHourModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="exampleModalLabel">查找工单</h4>
				</div>
				<div class="modal-body">
					<form>
						<!-- 搜索框 -->
						<div class="col-lg-12">
							<div class="input-group">
								<input type="text" class="form-control"
									placeholder="Search for..." id="searchPro"> 
								<span class="input-group-btn">
									<button class="btn btn-default" type="button" onclick="doFindOrdersByName()">Go</button>
								</span>
							</div>
						</div>
						<div class="col-lg-12">
							<div>
								<hr>
							</div>
						</div>
						<div class="form-group">
							<table class="table table-bordered">
								<thead>
									<tr>
										<!-- 列名 -->
										<th style="width: 10px">#</th>
										<th>Name</th>
									</tr>
								</thead>
								<tbody id="modalTbodyId">
									<!-- 记录 -->
								</tbody>
							</table>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" onclick="doSetOrderSelected()" data-dismiss="modal">确认</button>
				</div>
			</div>
		</div>
	</div>

</div>
<script type="text/javascript" src="bower_components/ztree/jquery.ztree.all.min.js"></script>
<script type="text/javascript" src="bower_components/layer/layer.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
	 	//工单信息回显函数
	 	doInitFormData();
	 	//事件注册
	 	$(".box-footer")
	 	.on("click",".btn-cancel",doCancel)
	 	.on("click",".btn-save",doSaveOrUpdateObject);
 	});
 	//工单信息回显
 	function doInitFormData(){
 		//获取回传的工单信息
 		var data = $("#mainContentId").data("workHourData");
 		var actionType = $(".box-title").text();
 		if(actionType == "修改工时" && data != null){
 			$(".divWorkHourOrderId").hide();
 			$(".divWorkHourOrder").hide();
 			$(".divWorkOrderFZ").hide();
 	 		$("#workHour").val(data.hours);
 	 		$("#workHourNote").val(data.note);
 		}else if(actionType == "添加工时"){
 	 		$("#workHourId").val("");
 	 		$("#workHourOrder").val("");
 	 		$("#workHour").val("");
 	 		$("#workOrderFZ").val("");
 	 		$("#workHourNote").val("");
 		}
 	}
	//根据名字查找项目
	function doFindOrdersByName() {
		var url = "workorders/doFindOrdersByName";
		var params = {
			"orderName" : $("#searchPro").val().trim()
		}
		$.get(url, params, function(result) {
			if(result.status == 200){
				//处理请求结果,后端会回传工单ID,可以绑定使用
				console.log(result.data);
				doHandleResponseResult(result.data);
			}else{
				doHandleResponseFail();
			}
		});
	}
	function doHandleResponseResult(result){
		//将查找到的数据(项目名字)显示到模态框的表格中
		$("#modalTbodyId").empty();
		var tbody = $("#modalTbodyId");
		var orderInfoArray = result;	//工单信息数组
		for(let i = 0;i < orderInfoArray.length;i++){
			var tr = `<tr>
					<td>${i+1}</td>
					<td onclick='getSelectOrder(this)' value=${orderInfoArray[i].name} orderIdSelected=${orderInfoArray[i].id}
						orderFZSelected=${orderInfoArray[i].principalUser}>${orderInfoArray[i].name}</td>
					</tr>`;
			tbody.append(tr);
			//将查询到的信息绑定至box-title
			$(".box-title").data("orderNameSelected",orderInfoArray[i].name);
			$(".box-title").data("orderIdSelected",orderInfoArray[i].id);
			$(".box-title").data("orderFZSelected",orderInfoArray[i].principalUser);
		}
	}
	//点击模态框中查询到的项目,即可选中
	function getSelectOrder(result){
		var id = result.attributes[2].value;
		var FZ = result.attributes[3].value;
		var orderNameSelected = result.innerHTML;
		$("#workHourOrder").val(orderNameSelected);
		$("#workHourId").val(id);
		$("#workOrderFZ").val(FZ);
		//绑定工单编号
		$(".box-title").data("orderIdSelected",id);
		//清空搜索框和表格内容
		doClearSearchBox();
		$("#modalTbodyId").empty();
		//关闭模态框
		$("#workHourModal").modal("hide");
	}
	//模态框项目查找失败
	function doHandleResponseFail(){
		//清空模态框表格数据
		$("#modalTbodyId").empty();
	}
	//将搜索到的工单信息显示在创建页面,点击确定按钮后显示数据
	function doSetOrderSelected(){
		var orderNameSelected = $(".box-title").data("orderNameSelected");
		var orderIdSelected = $(".box-title").data("orderIdSelected");
		var orderFZSelected = $(".box-title").data("orderFZSelected");
		$("#workHourOrder").val(orderNameSelected);
		$("#workHourId").val(orderIdSelected);
		$("#workOrderFZ").val(orderFZSelected);
		//清空搜索框和表格内容
		doClearSearchBox();
		$("#modalTbodyId").empty();
	}
	function doClearSearchBox(){
		//清空模态框搜索框
		$("#searchPro").val("");
	}
	function doCancel() {
		$("#mainContentId").removeData("workHourData");
		$("#mainContentId").load("workhours/work_hour_list");
	}
	function doSaveOrUpdateObject() {
		var actionType = $(".box-title").text();
		//判断页面动作(添加/更新)
		if(actionType == "添加工时"){
			var url = "workhours/doSaveObject";
		}else if(actionType == "修改工时"){
			var url = "workhours/doUpdateObject";
		}
		//1.获取表单数据
		var params = doGetEditFormData();
		console.log(params);
		$.post(url, params, function(result) {
			if (result.status == 200) {
				//console.log(result.msg);
				doCancel();
			} else {
				alert(result.msg);
			}
		})
	}
	//获取用户输入的数据
	function doGetEditFormData() {
		var id = ($(".box-title").text()=="添加工时")?null:$("#mainContentId").data("workHourId");
		var params = {
			id : id,
			workOrderId : $(".box-title").data("orderIdSelected"),
			relatedProjectName : $("#workHourOrder").val(),
			hours : $("#workHour").val(),
			principalUser : $("#workOrderFZ").val(),
			note : $("#workHourNote").val()
		}
		return params;
	}
</script>